* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
  font-size: "40rem";
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  color: #555;
  text-align: center;
  font-size: "30rem";
}

.code-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.code-title {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
  margin-bottom: -20px;
}

.code-phrase {
  font-size: 40px;
  margin: 0;
  color: #666;
  margin-bottom: "20rem";
}

.code-description {
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  margin-bottom: "30rem";
  line-height: 1.5;
}

.spec-link {
  font-size: 18px;
  color: #007acc;
  text-decoration: none;
}

/* grid of images */
.all-codes-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* align children in center */
  justify-items: center;
}
